# Yolov5 model from ultralytics
yolov5/

# virtual environment
.venv/
venv/


# pycache
**/__pycache__/

# General Ignore files
*.pyc
*.swp
*.log
*.egg-info

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Key
config.json

# Ignore all files in the uploads directory
uploads/


